body {
    font-family: 'Roboto', serif;
    background: #ededed;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

nav {
    background: rgba(87, 222, 135, 0.7);
    position: fixed;
    height: 55px;
    width: 100%;
    max-width: 1050px;
    top: 0;
    z-index: 50;
    overflow: hidden;
    box-sizing: border-box;
    text-transform: uppercase;
}

nav a {
    float: left;
    padding-left: 20px;
    color: #093156;
    text-align: center;
    font-weight: 400;
    font-size: small;
}
nav a:any-link,
nav a:visited{
    text-decoration: none;
}


hr {
    padding-top: 0;
    margin-top: 0;
}
section article p:nth-child(1) {
    display: inline-block;
    box-sizing: border-box;
}
section article p:nth-child(2) {
    display: inline-block;
    float: right;
}

article {
    float: left;
    box-sizing: border-box;
    width: 25%;
}



article img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
}
article:hover img {
    opacity: 70%;
}

article h6 {
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 5px;
}

section article:first-of-type,
section article:nth-of-type(5){
    padding-right: 1%;
    padding-left: 0;
}
section article:nth-of-type(2),
section article:nth-of-type(3),
section article:nth-of-type(6),
section article:nth-of-type(7) {
    padding-right: 0.5%;
    padding-left: 0.5%;

}
section article:nth-of-type(4),
section article:last-of-type {
    padding-right: 0;
    padding-left: 1%;
}

.hoofding {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.tekst-small {
    font-size: small;
    height: 100px;
}
.contact-title img{
    display: inline-block;
    height: 25px;
    width: auto;
}
.contact-title h1 {
    display: inline-block;
    height: auto;
    text-align: center;
    text-indent: 10px;
    font-weight: 400;
    font-size: 24px;
}

article p:first-of-type,
article p:nth-of-type(2) {
    font-size: small;
}
form {
    width: 100%;
    white-space: nowrap;
}
form input  {
    background: #85d38e;
    border: none;
    box-sizing: border-box;
    color: white;
    width: 33%;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-indent: 5px;
}

::placeholder {
    color: white;
    position: relative;
    top: 0;
    left: 0;
}

input:nth-of-type(4) {
    display: block;
    border: none;
    width: 100%;
    height: 100px;
    color: white;
    padding: 1%;
    margin-top: 5px;
}

input[type=submit]{
    background: #326544;
    display: block;
    border: none;
    width: 100%;
    color: white;
    padding: 1%;
    margin-top: 5px;
}



#logo {
    height: 55px;
    width: auto;
}
#banner {
    z-index: 45;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
#tekstOverBanner {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    top: 200px;
    left: 60%;
    z-index: 48;
    font-size: 2vw;
    text-transform: uppercase;
}

:last-child(of article.p) {
    font-size: small;
}


#more-button {
    clear: both;
    background: #000000;
    color: white;
    width: 150px;
    margin: auto;
    line-height: 20px;
    padding-left: 5px;
}

#footer {
    clear: both;
    line-height: 100px;
    background: black;
    color: white;
    text-align: center;
}

@media screen  and (min-width: 700px) and (max-width: 1000px) {
    body {
        width: 700px;
    }
    article {
        width: 50%;
        box-sizing: border-box;
    }
    section article:nth-of-type(odd) {
        padding-right: 1%;
        padding-left: 0;
    }
    section article:nth-of-type(even) {
        padding-right: 0;
        padding-left: 1%;
    }
    #banner {
        width: 100%;
        max-width: 700px;
    }
    nav {
        width: 100%;
        max-width: 700px;
    }

}
@media screen and (max-width: 700px) {
    body {
        width: 95%;
    }
    article {
        width: 100%;
        padding: 0;
    }
    #tekstOverBanner {
        display: none;
    }
    nav {
        width: 100%;
    }

    }


